<script id="wm-template" type="text/x-handlebars-template">
    {{#each machines}}
        <div class="wm-item" id="wm-{{wmNumber}}">
            <div class="wm-title-wrapper">
                <h2 class="wm-title-text">Стиральная машина № {{wmNumber}}</h2>
            </div>
            <div class="time-ranges-wrapper">
                <div class="time-ranges-row ">
                    <div class="time-range active tr1">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">8:00 - 9:45</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                    <div class="time-range active tr2">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">9:45 - 11:30</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                    <div class="time-range active tr3">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">11:30 - 13:15</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                </div>
                <div class="time-ranges-row">
                    <div class="time-range active tr4">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">13:15 - 15:00</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                    <div class="time-range active tr5">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">15:00 - 16:45</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                    <div class="time-range active tr6">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">16:45 - 18:30</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                </div>
                <div class="time-ranges-row">
                    <div class="time-range active tr7">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">18:30 - 20:15</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                    <div class="time-range active tr8">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">20:15 - 22:00</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                    <div class="time-range active tr9">
                        <div class="time-range-text-wrapper">
                            <p class="time-range-text">22:00 - 23:45</p>
                        </div>
                        <div class="status-text-wrapper">
                            <p class="status-text">Свободно</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</script>
