body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #EDEEF0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-wrapper-container {
    width: 450px; /* Ширина контейнера 50% от ширины страницы */
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}
.form-group input,textarea {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.form-group input,textarea,select:focus-visible {
    outline: none;
}

.form-group textarea {
    resize: vertical; /* Растягивать только по вертикали */
}

.form-group select {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    width: max-content;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


label {
    display: block;
    /*font-weight: bold;*/
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}

input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
    outline: 3px solid #68a6fd;
}


#post-news-button {
    background-color: #2fc90a;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#post-news-button:hover {
    background-color: #1cb203;
}
