body {
    margin: 0;
    padding: 0;
    background-color: #EDEEF0;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.form-wrapper-container {
    width: 300px;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-wrapper-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#registration-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
}

.form-group input {
    width: 93%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.form-group input:focus {
    outline: 3px solid #68a6fd;

}

.btn-login {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;

    margin: 0 auto;
}

.btn-login:hover {
    background-color: #0056b3;
}