.go-to-main-button {
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: #757575;

    margin-left: auto;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    border: #EDEEF0;

    background-color: #EDEEF0;

    outline-width: 0;
    display: inline-flex;
    align-items: center;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.go-to-main-button:hover {
    background-color: #d9d9da;
}

.go-to-main-button:focus {
    outline-width: 0;
}

.go-to-main-button-icon {
    width: 24px;
    height: auto;
}

.go-to-main-button-text {
    margin-left: 5px;
}
