header {
    height: 7%; /* Высота хэдера 70 пикселей */
    width: 70%; /* Ширина хэдера 75% от ширины страницы */
    min-width: 700px;
    max-width: 1400px;
    margin: 0 auto; /* Выравнивание хэдера по центру */
    background-color: #ffffff;
    position: fixed; /* Фиксированное позиционирование хэдера */
    top: 0; /* Хэдер будет прикреплен к верху страницы */
    left: 0; /* Хэдер будет прикреплен к левому краю */
    right: 0; /* Хэдер будет прикреплен к правому краю */
    border-bottom-left-radius: 20px; /* Бордер-радиус только для нижнего левого угла */
    border-bottom-right-radius: 20px; /* Бордер-радиус только для нижнего правого угла */
    z-index: 9999;
    border-bottom: 1px solid #e7e8ec;
}