.modal-container {
    display: none;
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    border-radius: 20px;
    position: fixed;
    z-index: 9992;
    background-color: white;

    width: max-content;
    height: max-content;
    padding: 23px 20px 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.close-button-wrapper {
    position: absolute;
    top: -5px;
    right: 5px;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.modal-content-body-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content-wrapper {
}

.text-content-wrapper p {
    margin: 0;
    font-size: 18px;
    margin-bottom: 5px;
}

#modal-status-span,
#modal-time-span,
#modal-date-span {
    font-weight: 600;
}
input[type="checkbox"] {
    height: 18px;
    width: 18px;
    margin-right: 5px; /* Отступ между чекбоксом и текстом */
    vertical-align: middle; /* Выравнивание по вертикали */
}

.modal-booking-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal-booking-buttons button {
    /*width: min-content;*/
    font-size: 16px;
    color: white;
    border-radius: 5px;
    border: none;
    height: 30px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.modal-booking-buttons button:focus,
.modal-booking-buttons button:focus-visible {
    outline: none;
}

.book-button,
.add-wm-modal-button {
    width: 60%;
    background-color: #2C86FD;
}

.book-button:hover,
.add-wm-modal-button:hover {
    cursor: pointer;
    background-color: #2974e1;
}

.cancel-button {
    width: 38%;
    background-color: #ff4c4c;
}
.cancel-button:hover {
    cursor: pointer;
    background-color: #d51010;
}

#new-wm-number {
    width: 60%;
    margin-top: 2px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}

#new-wm-number:focus {
    outline: 3px solid #68a6fd;

}