body {
    background-color: #EDEEF0;
    font-family: 'Inter', serif;
    font-weight: 400;
    font-style: normal;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.15s;
}

button {
    font-family: 'Inter', serif;
}

.main-body-wrapper {
    display: flex;
    flex-direction: column;
}


.market-body-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;

    width: 1078px;
    height: auto;
    min-height: 150px;
    margin: 16px auto 0;
    box-sizing: border-box;
}

.market-side-bar {
    /*padding-left: 10px;*/
    position: sticky;
    top: 77px;
    width: 192px;
    background-color: white;
    border-radius: 20px;
    /*min-height: 150px;*/
    height: max-content;
    padding: 20px 10px;
    transition : top 0.34s ease;
}


/* Скрытие стандартной стрелки выпадающего списка и установка серого цвета для новой стрелки */
#category-filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Inter', serif;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path d="M2 3l4 4 4-4H2z" fill="%23808080"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 20px; /* Увеличиваем правый отступ, чтобы текст не накладывался на стрелку */
}


.side-bar-header {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none; /* убираем стрелочки для изменения числа*/
}

.side-bar-filter-section {
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}


.side-bar-filter-section select {
    /*background-color: white;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 3px;*/
    padding: 5px;
    width: max-content;
    height: 30px;
    font-size: 14px;
    margin-top: 2px;

    /*width: 100%;*/
    /*padding: 10px;*/
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}


.free-checkbox-wrapper {
    margin-bottom: 5px;
}

#free-checkbox,
#my-address-checkbox {
    height: 18px;
    width: 18px;
    margin-left: 7px;
    vertical-align: middle;
}

#free-checkbox:focus-within,
#my-address-checkbox:focus-within {
    outline: none;
}

.price-inputs-wrapper {
    display: flex;
}

.side-bar-filter-section input {
    z-index: 3;
    width: 70px;
    margin-right: 3px;
    margin-top: 2px;
    padding-left: 10px;
    height: 28px;
    /*background-color: white;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #ccc;*/

    /*width: 100%;*/
    /*padding: 10px;*/
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.side-bar-filter-section input:focus,
.side-bar-filter-section select:focus{
    outline: 3px solid rgba(104, 166, 253, 0.7);
}

.side-bar-filter-section label {
    width: 300px;
    font-size: 16px;
    color: #2a2a2a;
}

.side-filter-button-wrapper {
    margin-top: 20px;
    flex-grow: 1;
}

.filter-button {
    height: 28px;
    color: white;
    font-size: 15px;
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #2C86FD;

    transition: background-color 0.3s ease;

}

.filter-button:hover {
    background-color: #1267d9;
    cursor: pointer;
}

.filter-button:focus-visible {
    outline: none;
}

.market-products-body-wrapper {
    width: 830px;
    background-color: white;
    border-radius: 20px;
    min-height: 150px;
    padding: 20px 15px 20px 15px;
}

.input-search-wrapper {
    /*width: 800px; не решил как лучше*/
    width: 99%;
    margin: 0 auto 30px;
    height: 40px;
    background-color: #2C86FD;
    border: 2px solid #2C86FD;
    border-radius: 5px;
    /*margin-bottom: 30px;*/
    display: flex;
}

.product-search-input-class {
    width: 90%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 0 8px 0 9px;
    font-size: 16px;
}

.product-search-input-class:focus-visible {
    outline: none;
}

.search-button-wrapper {
    /*width: auto;*/
    height: 100%;
    width: 10%;
    background-color: #2C86FD;
    padding-left: 2px;
    border-radius: 5px;
}

.search-button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #2C86FD;
    padding: 4px 4px 1px 4px;
    border: none;
    border-radius: 5px;
}

.search-button:hover {
    cursor: pointer;
    background-color: #4391fa;
}

.product-row {
    display: flex;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.product-row:hover {
    background-color: #EDEEF0;
    cursor: pointer;
}

.image-preview {
    width: 222px;
    height: 232px;
    object-fit: cover;
    border-radius: 5px;
}

.product-title-wrapper {
    display: flex;
    justify-content: space-between;
}

.add-to-favorites-button {
    width: max-content;
    height: max-content;
    padding: 0;
    border: none;
    border-radius: 20%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
}

.add-to-favorites-button:hover {
    background-color: rgba(117, 172, 255, 0.3);
    cursor: pointer;
}

.add-to-favorites-button:focus-visible {
    outline: none;
}

.add-to-favorites-button img{
    display: none;
}

.add-to-favorites-img {
    width: 25px;
    height: 25px;
}

img.favorite-active-icon {
    display: inline-block;
}

.product-text-content-wrapper {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    margin-left: 10px;
}

.product-title-text {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #2C86FD;
}

.title-dropdown-wrapper {
    display: flex;
    justify-content: space-between;
}

.user-my-menu-wrapper {
    z-index: 100;
    /*width: 60px;*/
    position: relative;
    /*top: -30px;*/
    /*left: 552px;*/
}

.user-my-menu-button {
    z-index: 100;
    position: relative;
    background-color: #EDEEF0;
    width: 30px;
    height: 30px;

    outline: none;
    border-radius: 50%;
    border: none;
    /*border-left: 1px solid #e7e8ec;*/
    /*border-top: 1px solid #e7e8ec;*/
    /*border-bottom: 1px solid #e7e8ec;*/
}

.user-my-menu-button:focus {
    outline: none;
}

.user-my-menu-dropdown {
    display: none;
    position: absolute;
    top: 30px;

    z-index: 3;
    outline: none;
    background-color: #ffffff;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-top: 6px;
    padding-bottom: 6px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.user-my-menu-dropdown a {
    display: block;
    padding: 5px;
    cursor: pointer;
    width: 130px;
    text-align: left;
    border: none;
    font-style: normal;
    color: black;
    text-decoration: none;

}

.user-my-menu-dropdown a:hover {
    background-color: rgba(235, 235, 239, 0.42);
    font-style: normal;
    color: black;
    text-decoration: none;
}


.user-my-menu-wrapper:hover .user-my-menu-dropdown {
    outline: none;
    display: block;
    opacity: 1;
}

.product-status {
    margin: 7px 0 0 0;
    font-size: 14px;

    color: orange;
}

.product-price-text {
    margin: 7px 0 0 0;

    font-size: 16px;
    font-weight: bold;
}

.product-description-text {
    margin: 7px 0 0 0;
    font-size: 15px;
    color: #525252;
}

.product-contacts-wrapper {
    margin-top: auto;
    margin-bottom: 5px;
}

.product-contacts-text {
    margin: 7px 0 0 0;
    font-size: 16px;
    font-style: italic;

}